@{Layout = "~/Views/Shared/_Layout.cshtml";}
@{
    ViewBag.Title = "Busca do Produto";
    string local = Url.Action("BuscarProdutoUI", "Produto");
    string context = Url.Action("Index", "Home");

    string txtReferenciaProduto = "ReferenciaProduto";
    string mdListaProdutos = "~/Views/Produto/_ModalListaProdutoUI.cshtml";

    string txNomeProduto = "Descricao";

    string requestButton = "btnReferenciaProduto";
    string btEditValue = "Editar";
    string btConsultValue = "Detalhes";
    string btDeleteValue = "Excluir";
}

@using (Html.BeginForm("BuscarProduto", "Produto", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <hr />
        <p class="fs-2 fw-lighter bg-light">Busca de Produto</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">                
                <div class="row space-form p-1">
                    <label class="control-label col-md-2 col-xs-12 d-flex flex-column justify-content-center align-items-center labelsBusca">&nbsp;</label>
                    <div class="col-md-7 col-xs-12">
                        <a value="" name="btnReferenciaProduto" class="btn btn-large btn-primary form-group btnPesquisar" data-bs-toggle="modal" data-bs-target="#Produtos" onclick='$("#Descricao").val("");$("#ReferenciaProduto").val("");'><i class="fa fa-search"></i> Listar Produtos  </a>
                    </div>
                </div>
                <div class="row space-form p-1">
                    <label class="control-label col-md-2 col-xs-12 d-flex flex-column justify-content-center align-items-center labelsBusca">Referência:</label>
                    <div class="col-md-7 col-xs-12">
                        @Html.TextBox(txtReferenciaProduto, null, new { @id = "ReferenciaProduto", @class = "form-control col-md-12 IdBusca", maxlength = 50, type = "text", oninput = "this.value=this.value.slice(0,this.maxLength)", @onfocusout = "FnTxtPesquisarProduto()" })
                        @{ Html.RenderPartial(mdListaProdutos);}
                    </div>
                </div>
                <div class="row space-form p-1">
                    <label class="control-label col-md-2 d-flex flex-column justify-content-center align-items-center labelsBusca">Descrição:</label>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        @Html.TextBox(txNomeProduto, null, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row space-form p-1">
                    <div class="col-md-2 clearfix"></div>
                    <div class="col-md-10">
                        <button type="submit" value="@btEditValue" name="@requestButton" class="btn btn-sm btn-outline-success form-group"><i class="fa fa-edit"></i> Editar</button>
                        <button type="submit" value="@btConsultValue" name="@requestButton" class="btn btn-sm btn-outline-primary form-group"><i class="fa fa-search"></i> Detalhes</button>
                        <button type="submit" value="@btDeleteValue" name="@requestButton" class="btn btn-sm btn-outline-danger  form-group"><i class="fa fa fa-trash"></i> Excluir</button>
                        <a href="@context" class="btn btn-sm btn-outline-secondary form-group"><i class="fa fa-reply"></i> Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {@Scripts.Render("~/bundles/jqueryval")}
