@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model GestorixDLL.DML.Produto
@{
    ViewBag.Title = "Detalhes do Produto";
    string local = Url.Action("DetalhesProdutoUI", "Produto");
    string contexto = Url.Action("BuscarProdutoUI", "Produto");
}

<div class="container">
    <hr />
    <p class="fs-2 fw-lighter bg-light">Detalhes do Produto</p>
    <hr />
    @Html.HiddenFor(model => model.ReferenciaProduto)    
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <fieldset id="dadosGerais">
                <div class="form-group">
                    @Html.LabelFor(model => model.ReferenciaProduto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ReferenciaProduto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.ReferenciaProduto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoProduto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.ValidationMessageFor(model => model.TipoProduto, "", new { @class = "text-danger" })
                        @Html.DropDownListFor(model => model.TipoProduto, new SelectList(new string[]
                        {
                            "Novo",
                            "Usado",

                        }), new { @class = "form-control form-select", @readonly = "readonly" })

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Fabricante, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fabricante, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Fabricante, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CustoProduto, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CustoProduto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.CustoProduto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PrecoProduto, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PrecoProduto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.PrecoProduto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <br />
    <div class="form-group">
        <a href="@contexto" class="btn btn-outline-secondary form-group"><i class="fa fa-reply"></i> Sair</a>
    </div>
</div>


@section Scripts {@Scripts.Render("~/bundles/jqueryval")}