@{Layout = "~/Views/Shared/_Layout.cshtml";}
@model GestorixDLL.DML.Produto
@{
    ViewBag.Title = "Alteração de Produto";
    string contexto = Url.Action("Index", "Home");
    string popAddProdutoEstoque = "~/Views/Shared/_EstoqueAdicaoProduto.cshtml";
    string popRemoveProdutoEstoque = "~/Views/Shared/_EstoqueRemocaoProduto.cshtml";
}

<div class="container">
    <hr />
    <p class="fs-2 fw-lighter bg-light">Alteração de Produto</p>
    <hr />
    @using (Html.BeginForm("EditarProduto", "Produto", FormMethod.Post))
    {
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fa fa-square legenda-campos-obrigatorios"></i> Campos de preenchimento obrigatório <br/>
                        <i class="fa fa-square legenda-campos-leitura"></i> Campos apenas para leituura                        
                    </div>
                </div>
                <fieldset id="dadosGerais">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReferenciaProduto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ReferenciaProduto, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.ReferenciaProduto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TipoProduto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.TipoProduto, "", new { @class = "text-danger" })
                            @Html.DropDownListFor(model => model.TipoProduto, new SelectList(new string[]
                            {
                                "Produto",
                                "Servico",

                            }), new { @class = "form-control form-select required-form" })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Fabricante, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Fabricante, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fabricante, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CustoProduto, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CustoProduto, new { htmlAttributes = new { @class = "form-control required-form" } })
                            @Html.ValidationMessageFor(model => model.CustoProduto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PrecoProduto, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PrecoProduto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PrecoProduto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button class="btn btn-outline-success form-group" type="submit"><i class="fa fa-check"></i> Confirmar</button>
            <a onclick="window.location.href = location.href" class="btn btn-outline-primary form-group"><i class="fa fa-refresh"></i> Desfazer</a>
            <a href="@contexto" class="btn btn-outline-secondary form-group"><i class="fa fa-reply"></i> Sair</a>
        </div>

        <!-- Botões para acionar modal -->
        <div class="d-flex gap-3">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal"><i class="fa fa-plus"></i> Adicionar ao Estoque</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#removeModal"><i class="fa fa-remove"></i> Remover do Estoque</button>
        </div>

        Html.RenderPartial(popAddProdutoEstoque); 
        Html.RenderPartial(popRemoveProdutoEstoque); 

        @Html.AntiForgeryToken()
    }
</div>


@section Scripts {@Scripts.Render("~/bundles/jqueryval")}


